@font-face {
  font-family: 'GoogleSans';
  src: local('GoogleSans'), url(../../../fonts/GoogleSans-Regular.ttf) format('truetype');
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.content-container {
  word-wrap: break-word;
  text-align: left;
  flex: 2;
}

.main-container {
  position: relative;
  display: flex;
}

.spacer {
  flex: 1;
}

.deal-list {
  display: flex;
  flex-direction: column;
}

.deal-list > a {
  width: 850px;
  margin-bottom: 100px;
  margin-left: -40px;
  text-decoration: none;
  color: darkviolet;

}

.footer-container {
  position: relative;
  height: 2.5rem;
  width: 100%;
}

.main-header {
  font-family: verdana, monaco, menlo, consolas, "courier new", monospace;
  font-size: xxx-large;
}

.description {
  font-family: verdana, monaco, menlo, consolas, "courier new", monospace;
  font-weight: lighter;
}

.build-time {
  font-family: verdana, monaco, menlo, consolas, "courier new", monospace;
  font-weight: lighter;
  font-size: large;
  font-style: italic;
}

@keyframes pos {
  from {
    position: relative;
  }
  to{
    position: absolute;
  }
}