.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 10rem;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}


.footer > * {
    display: flex;
    justify-content: center;
    width: 100%;
}

.rows {
    position: absolute;
    bottom: 0;
}

.lower-links {
    position: absolute;
    left: 30%;

}

.lower-links > * {
    text-decoration: none;
    margin-left: 50px;
}

.navigate {
    position: relative;
    padding-bottom: 15px;
    -webkit-transform:scale(3,2); /* Safari and Chrome */
    -moz-transform:scale(3,2); /* Firefox */
    -ms-transform:scale(3,2); /* IE 9 */
    -o-transform:scale(3,2); /* Opera */
    transform:scale(3,2); /* W3C */
}

.upper-links {
    position: absolute;
    right: 26%;
}

.upper-links > * {
    text-decoration: none;
    margin-right: 50px;
}

.popup > * {
    margin-bottom: 10px;
}

.popup-input {
margin-left: 10px;
margin-right: 10px;
}

.popup-add {
height: 50px;
width: 50px;
border-radius: 50px;
}

.popup-sub {
height: 50px;
width: 50px;
border-radius: 50px;

}

.single-row > * {
    margin-left: 20px;
    text-decoration: none;
}

.popup {
z-index: 1;
width: 350px;
bottom: 35px;
position: fixed;
background-color: white;
box-shadow: 0px 0px 5px 0px rgba(128, 0, 0, 1);
}


.popup-container {
    position: fixed;
    bottom: 20px;
    width: 350px;
    left: 50%;
    transform: translateX(-50%);
}

.popup-main {
    height: 30px;
}

.down-arrow {
position: relative;
left: 45%;
box-shadow: 5px 5px 5px rgba(128, 0, 0, 1);
background-color: white;
border-width: 0 3px 3px 0;
display: inline-block;
padding: 15px;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
bottom: -30px;
}

.go-btn {
position: absolute;
left: 45%;
bottom: 0;
z-index: 3;
}